body{
    margin: 40px;
}
.shoptabe{
    border: 1px;
    color: red;
}
.subtile{
    font-size: 20px;
}
span{
    color: red;
}
.box{
    margin: 20px;
    padding: 10px;
    width: 300px;
    height: 200px;
    background-color: rgba(3, 115, 5, 0.518);
    border-radius: 20px;
    text-align: center;
}
#form{
    width: 400px;
    height: 320px;
    background-color: rgba(22, 112, 4, 0.4);
    margin: 40px;
    border-radius: 20px;

}
#title{
    text-align: center;
    padding: 5px;
}
#tablecontact{
    margin: 20px;
}
input{
    margin-left: 5px;
    border-radius: 8px;
    height: 30px;
    width: 250px;
    border: 0px;
}
#msgbox{
    height: 80px;
}
button{
    margin-bottom: 5px;
    margin-left: 88px;
    font-size: 18px;
    padding: 15px;
    border: 0px;
    border-radius: 8px;
    width: 100px;
}

#table1{
    margin: 15px;
    width: 500px;
    background-color: rgba(87, 156, 159, 0.371);
}
#tablerow1{
    color: white;
    background-color: rgba(4, 4, 48, 0.838);
}